// Place all the styles related to the Flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mycontainer{
  width: 200px;
}
.myresize{
  width: 18rem;
  height: 14rem;
}
.myback{
  background-position: center;
  background-size: cover;
}
.mysecondcontainer{
  max-width: 540px;
}
